<header>
  <!-- <h1><a href="/forum">Mini Forum</a></h1> -->
</header>

<main>
  <h1 class="page-title">פורומים</h1>

  <% if (!forums || forums.length === 0) { %>
  <p class="empty">לא קיימים פורומים.</p>
  <% } else { %>
  <ul class="thread-list">
    <% forums.forEach(f => { %>
    <li>
      <a class="thread-title" href="/forum/f/<%= f.id %>"> <%= f.name %> </a>

      <% if (f.description) { %>
      <div class="meta"><%= f.description %></div>
      <% } %>

      <a class="thread-title" href="/forum/f/<%= f.id %>"> כניסה לפורום → </a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</main>
