<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title || "Mini Forum" %></title>
    <link rel="stylesheet" href="/forum/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/forum">Pitron halomot Forum</a></h1>
    </header>

    <%- body %>
  </body>
</html>
