<section class="new-thread">
  <h2>פתיחת נושא חדש</h2>
  <a href="/forum" class="back-link">← דף הבית</a>
  <form action="/forum/f/<%= forum.id %>/threads" method="POST">
    <input type="text" name="title" placeholder="כותרת" required />

    <input type="text" name="author" placeholder="שם (לא חובה)" />

    <textarea name="content" placeholder="תוכן ההודעה..." required></textarea>

    <button type="submit">פרסום נושא</button>
  </form>
</section>
